<!DOCTYPE html>
<!--
    -->

    
{% extends "base.html" %}
{% block content %}

<html>
<body>
    <!-- Banner header section -->
    <div class="intro-banner">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <br.
                    <br>
                    <br>
                    <div class="intro-inner">

                        <h1 class="text-center" style="font-size: 64.1127px;"><a href="https://www.facebook.com/hari.devaraj"><br>Hari Devaraj</a></h1>
                        <h2 id="subtitle" class="text-center" style="font-size: 21.4167px;">runner developer traveler</h2>

                        <hr class="intro-divider">

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Content row 1 -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">

                    <!-- clearfix makes it so elements are not side by side -->
                    <div class="clearfix"></div>

                    <h2 class="section-heading">whoami</h2>
                    <p class="lead">
                        I'm a rising senior in the Fu Foundation School of Engineering in Columbia University. I transferred from the University of Maryland at College Park for reasons unknown to anyone. I'm a Computer Science major who has an interest in theoretical Computer Science.
                    </p>
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-rounded" src="../static/images/FullSizeRender.jpg">
                </div>

            </div>
        </div>
    </div>


    <!-- Content row 2 -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">self.getattribute()</h2>
                    <p class="lead">
                        Though I have the athletic capacity of a teaspoon, I love watching and playing soccer. Currently, I'm a fan of Bayern Munich and Chelsea, but that might change next seasoon depending on who wins the Champions league (jokes, Bayern all the way).
                    </p>
                </div>

                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                    <img class="img-responsive img-rounded" src="../static/images/bayernmunich.jpg">
                </div>

            </div>

        </div>
    </div>

    <br>
    <br>
    
    
    <h1 class="container-fluid" style="background-color:#FFFFFF; padding-left:10px;">
        <article id="first" class="container box style1 right">

                <hr class="intro-divider">
                <hr class="intro-divider">
                <h1 class="text-center" style="font-size: 42px;">Work and Education</h1>

                <hr class="intro-divider">
                <hr class="intro-divider">
        </article>
    </h1>
    



    <ul class="container">

        <ul class="cards">

            <div class="card"><a href="https://www.mongodb.com/">
                <div class="col-sm-6">
                    <img class="img-responsive" src="../static/images/mongodb-logo-rgb.jpeg">
                    <h4 class="text-center"><br>Work</h4><p class="text-center">Software Engineering Intern with the Distributed systems team</p><h4 class="text-center">2016
                    </h4>
                </div>

            </div></a>

            <div class="card"><a href="http://careers.bankofamerica.com/job-detail/16024917/global/us/counterparty-credit-risk-sr-analyst">
                <div class="col-sm-6">
                    <img class="img-responsive" align="middle" src="../static/images/BAC-Stacked.jpg">
                    <h4 class="text-center">Work</h4><p class="text-center">Software Engineering Intern with the Credit Risk Technology team</p><h4 class="text-center">2015
                    </h4>
                </div>

            </div></a>

        </ul>

    </ul>

    <br>
    <hr class="intro-divider">

    <br>

    <ul class="container">

        <ul class="cards">

            <a href class="image full"><a href="http://www.cs.columbia.edu/">
                <div class="center-block">
                    <img class="img-responsive " src="../static/images/Columbia-University.png">
                    <h4 class="text-center">Education/Work</h4><p class="text-center">Studying in the engineering school.<br>Teaching Assistant for Computer Networks (CSEE4119 Graduate Student class)</p><h4 class="text-center">2014-2017
                    </h4>
                </div>
            </a></a>

        </ul>


    </ul>

    <br>

    <hr class="intro-divider">

    <br>


    <ul class="container">

        <ul class="cards">

            <div class="card"><a href="https://www.bodhala.com/index.html">
                <div class="col-sm-6">
                    <img class="img-responsive" src="../static/images/bodhala.png">
                    <h4 class="text-center"><br>Work</h4><p class="text-center">Part time developer working on Algorithmic indexing of Lawyers</p><h4 class="text-center">2015
                    </h4>
                </div>

            </div></a>

            <div class="card"><a href="https://www.seattleu.edu/">
                <div class="col-sm-6">
                    <br>
                    <img class="img-responsive" align="middle" src="../static/images/su-logo-lg.png"><br>
                    <h4 class="text-center">Work</h4><p class="text-center">Engineering Design Teaching Assistant</p><h4 class="text-center">2014
                    </h4>
                </div>

            </div></a>

        </ul>


    </ul>


    <hr class="intro-divider">


    <table class="table table-hover container">
    
        <thead>
            <tr> 
                <th>Class</th>
                <th>Year Taken</th>
                <th>Course Number</th>
                <th>Did I do well?<th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cryptography</td>
                <td>Junior Fall</td>
                <td>COMS4621</td>
                <td>lol</td>
            </tr>
            <tr>
                <td>Natural Language Processing</td>
                <td>Junior Fall</td>
                <td>COMS4705</td>
                <td>lol</td>
            </tr>
            <tr>
                <td>Computer Networks</td>
                <td>Junior Fall</td>
                <td>CSEE4119</td>
                <td>lol</td>
            </tr>
            <tr>
                <td>Entrepreneurial Business Creation</td>
                <td>Junior Fall</td>
                <td>IEOR4550</td>
                <td>lol</td>
            </tr>
            <tr>
                <td>Statistical Machine Learning</td>
                <td>Junior Spring</td>
                <td>STAT4400</td>
                <td>lol</td>
            </tr>
            <tr class='clickable-row' data-url='http://csorw4231-14.wikischolars.columbia.edu'>
                <td>Analysis of Algorithms</td>
                <td>Junior Spring</td>
                <td>COMS4231</td>
                <td>lol</td>
            </tr>
            <tr>
                <td>Storytelling through Live Data Streaming</td>
                <td>Junior Spring</td>
                <td>COMS6998</td>
                <td>lol</td>
            </tr>
            <tr>
                <td>Computational Complexity</td>
                <td>Senior Fall</td>
                <td>COMS4236</td>
                <td>lol</td>
            </tr>
            <tr><a href="http://www.columbia.edu/cu/bulletin/uwb/subj/MATH/V3025-20163-001/">
                <td>Making, Breaking Codes</td></a>
                <td>Senior Fall</td>
                <td>MATH3025</td>
                <td>lol</td>
                </a>
            </tr>

            <tr>
                <td>Advanced Physics Lab</td></a>
                <td>Senior Fall</td>
                <td>PHYS3081</td>
                <td>lol</td>
            </tr>
            <tr>
                <td>Programming Languages and Translators</td></a>
                <td>Senior Spring</td>
                <td>COMS4115</td>
                <td>lol</td>
            </tr>


            <tr>
                <td>Introduction to Databases</td></a>
                <td>Senior Spring</td>
                <td>COMS4111</td>
                <td>lol</td>
            </tr>

            <tr>
                <td>Modern Algebra</td></a>
                <td>Senior Spring</td>
                <td>MATH4041</td>
                <td>lol</td>
            </tr>
            </tbody>

    </table>

</body>
</html>


{% endblock %}
