<!DOCTYPE html>

<!--
-->

{% extends "base.html" %}
{% block content %}



<style type="text/css">
   body { 
    background-image: url('../static/images/titan.jpg');
    /* background: lightblue !important; */
    } /* ***!important*** Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    /*
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KlMeerCSW-c"></iframe>
                </div>
    */
    .sizer {
  width: 300px;
}
</style>

    <div class="banner">

        <div class="container">
            <div class="row">

                        <br>
                        <br>
                        <br>
                        <h1>
                            <div class="text-center"style="background-color:#FFFFCC; padding-left:10px;">
                                With all the time in the world <br>
                                I still find myself with nothing to do
                            </div>
                        </h1>
                        <hr class="intro-divider">
                

            </div>
        </div>
    </div>



    <link rel="shortcut icon" href="dust.jpg" type="image/x-icon" />
    <h1 class="container" style="background-color:#FF6633; padding-left:10px;">
        <article id="first" class="container box style1 right">
                <br>
                <a href class="image full">
                    <div class="col-lg-5 col-lg-offset-2">
                        <img class="img-responsive " src="../static/images/CalvinAndHobbesSummer.jpg">
                    </div>
                </a>


                <div class="inner">
                    <header>
                        <h2>Calvin and Hobbes just gets me</h2>
                    </header>
                    <p style="font-size:50%; line-height:200%;">
                    There's probably some deeper meaning behind these musings of a five year old, but that sort of analysis would just ruin the fun.
                    </p>
                </div>
        </article>
    </h1>

    <h1 class="container" style="background-color:#FF3333; padding-left:10px;">
        <div class="content-section-a">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-5 col-sm-6">

                        <!-- clearfix makes it so elements are not side by side -->
                        <div class="clearfix"></div>

                        <div class="inner">
                            <header>
                                <h2>Exploring Design</h2>
                            </header>
                            <p style="font-size:50%; line-height:200%;">
                            I'm exploring some basic designs. This is a realm I never thought I'd find myself falling into, but it seems to be quite fun with no obvious purpose. If I hadn't been trying to build this site, I would have probably wasted this beautiful summer day; much like the past four days. Creation can be fun, even if the casual observer thinks nothing of it.
                            <br> <br> Now if only I had an eye for asthetics and experience with Javascript, CSS, or Bootstrap.
                            </p>
                        </div>
                        <br>
                    </div>
                    <br>
                    <a href class="image full">
                        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <img class="img-responsive " src="../static/images/creation.png">
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </h1>

    <br>
    <br>


{% endblock %}
















